@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Fondamento|Rock+Salt|Amarante|Jim+Nightshade|Charm');

body {
  margin: 0;
  font-family: Fondamento, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5DEB3;
  color : #722f37;
}

.unstyled-list {
  list-style: none;
  list-style-type: none;
}

.app-header {
  background-color: #BDB76B;
}

.root {
  background-color: #F5DEB3;
}

.app-table, .app-table th, .app-table td {
    border-color: #8B4513;
    margin-top: 20px;
    
}

.actor {
  border: 5px solid black; 
  font-family: 'Amarante', cursive;
  font-size: 1.2em;
}

.player {
  border-color: green;
}

.npc {
  border-color: blue;
}

.enemy {
  border-color: red;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.plusOff {
  color: darkgray;
}

#list {
  height:860px;
}

.plusOn {
  color: green;
}

.creature-detail {
  width: 95%;
  margin: 25px auto;
  display: flex;
}

.detail-body {
  width: 85%;
  margin: 5px auto;
}

.actor_list {
  min-height: 245px;
  border: 2px solid #212121;
}

.detail-body .card-title h5 {
  font-size: 4em;
  font-family: 'Charm', cursive;
  font-weight: bold;
}

.app-name {  
  font-family: 'Jim Nightshade', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

.card-text {  
  font-family: 'Fondamento', Helvetica, Arial, sans-serif;
}

a, a:hover, a:visited {
  color: #B22222;
}

a.app-name, a.app-name:hover, a.app-name:visited {
  color: #8B0000;
}

.name-block {
  font-weight: bold;
  font-size: 1.45em;
}

.section-header {
  background-color: #722f37;
  color: #ebd5b3;
  font-family: 'Amarante', cursive;
}

/*- Card container -*/
.card-container {
  z-index: 1;
  margin: 32px auto;
  padding: .75em .25em;
  width: 1280px;
  min-width: 1280px;
  max-width: 1920px;
  min-height: 450px;
  max-height: 2400px;

  perspective: 1000px;  
	background-color: #ebd5b3;
  background-repeat: repeat;
}

.creature-title {
  font-family: 'Fondamento', sans-serif;
  font-size: 5em;
  font-weight: bold;
  text-align: center;
}
 .knowledge_check_popup {
  max-width: 40%;
 }

.knowledge_check {
  border-color: #8B0000;
  border-style: outset;
  border-width: .15em;
  padding: 5px;
}

.knowledge_check > h4 {
  border-color: #8B0000;
  border-style: solid;
  border-bottom: .25em;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.knowledge_check div::-webkit-scrollbar {
  display: none;
}

.knowledge_check div {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.small_table {
  width: 45%;
}

.effects_table table th, .effects_table table td {
  border-color: #8B4513;
}
.effects_table table th {
  font-weight: bold;
}

.modal .display-block {
  display: block;
}

.modal .display-none {
  display: none;
}

.RulesTextDialog .modal-dialog .image-modal-content{
  background-color: #ebd5b3;
  color: #722f37;
  font-family: Fondamento, Helvetica, Arial, sans-serif;
}

.RulesTextDialog .modal-dialog .image-modal-content .modal-header{
  border-bottom-color: #722f37;  
}

.RulesTextDialog .modal-dialog .image-modal-content .card-header{
  background-color: burlywood;   
  color: #722f37 
}
.RulesTextDialog .modal-dialog .image-modal-content .card-body{
  background-color: #ebd5b3;
  color: #722f37
}

.RulesTextDialog .modal-dialog .image-modal-content .card {
  border-color: #722f37;
}

table.SkillsTable tbody tr td {
  border-top: none;
}

table.SkillsTable table {  
  color: #722f37;
}

table.SkillsTable caption {  
  color: #722f37;
}

table.SkillsTable table thead tr th{
  border-color: #722f37;
}

table.SkillsTable table tbody tr td{
  border-top: 1px solid rgb(222, 226, 230);
  border-color: #722f37;
}

/*Modal Image Viewer Styles*/
.img-box {
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 210px;
  cursor: pointer;
  transition: 0.3s;
  height: 95%;
  float: right;
}

.img-box-arrows {
  position: relative;
  color: #111;
  cursor: pointer;
  opacity: .75;
  transform: translateY(50%);
  transition: opacity .15s cubic-bezier(.4, 0, 1, 1);
}

.img-box-arrows .left {
  left: 32px;
  float: left;
}
.img-box-arrows .right {
  right: 32px;
  float: right;
}

.image-preview-box {
  align-content: center;
  justify-content: center;
}

/* The Modal (background) */
.image-modal {
  position: absolute; /* Stay in place */
  z-index: 1010; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.image-modal-content {
  margin: auto;
  display: block;
  object-fit: contain;
  z-index: 1001;
  
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.image-modal-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.image-modal-content, .image-modal-caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.image-modal-close-button {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.image-modal-close-button:hover,
.image-modal-close-button:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .image-modal-content {
    width: 100%;
  }
}